<h2>Create New Tea</h2>
<form action="/teas/new" method="post">
  <p>Name: <input type="text" name="name" placeholder="name"></p>
  <p>Type: <input type="text" name="text" placeholder="e.g. green, black"></p>
  <p>Purchase Date: <input type="text" name="purchase_date" placeholder="mm/dd/yy"></p>
  <p>Brew Time: <input type="text" name="brew_time" placeholder="e.g. 3 min"></p>
  <p>Temperature: <input type="text" name="text" placeholder="e.g. 180 F"></p>
  <p>Leaves per Serving: <input type="text" name="text" placeholder="e.g. 3g, 1 tbsp"></p>
  <p><input type="submit" value="Log In"></p>
</form>
