<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create New Tea - Tea Tracker</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <div id="page">
        <center><h2>Create New Tea</h2>
        <a href="/teas">Home</a> | <a href="/users/<%= @user.id %>">View Your Tea Collection</a> | <a href="/teas/new">Create New Tea Entry</a> | <a href="/logout">Log Out</a><center>
        <hr>
        <form action="/teas" method="post">
          <p><font color="red">*</font>Name: <input type="text" name="name" placeholder="name" required></p>
          <p>Type: <input type="text" name="kind" placeholder="e.g. green, black"></p>
          <p>Purchase Date: <input type="text" name="purchase_date" placeholder="yyyy/mm/dd"></p>
          <p>Brew Time: <input type="text" name="brew_time" placeholder="e.g. 3 min"></p>
          <p>Brew Temperature: <input type="text" name="temperature" placeholder="e.g. 180 F"></p>
          <p>Leaves per Serving: <input type="text" name="servings" placeholder="e.g. 3g, 1 tbsp"></p>
          <p><input type="submit" value="Create Tea"></p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
