<h2>Welcome, <%= @user.username %>!</h2>
<a href="/teas/new">Add New Tea</a>
<ol>
<% @teas.each do |tea| %>
 <li><a href="/teas/<%= tea.id %>"><%= tea.name %> | <%= tea.purchase_date %></a></li>
<% end %>
</ol>
