<h2>Welcome, <%= @user.username %>!</h2>
<a href="/user/<%= @user.id %>">View Your Tea Collection</a>
<hr>
<h3>Here's what other people have been drinking lately!</h3>
<ol>
<% @teas.each do |tea| %>
 <li><a href="/teas/<%= tea.id %>"><%= tea.name %></a></li>
<% end %>
</ol>
