<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sign Up - BrewTeaful</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <div id="page">
        <h2>Sign up here!</h2>
        <% if flash.has?(:message) %>
          <p><font color="red"><em><%= flash[:message] %></em></font></p>
        <% end %>
        <form action="/users" method="post">
          <p>Username: <input type="text" name="username" placeholder="username"></p>
          <p>Password: <input type="password" name="password" placeholder="password"></p>
          <p>Email: <input type="text" name="email" placeholder="email"></p>
          <p><input type="submit" value="Sign Up"></p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
