<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Log In - Tea Tracker</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h2>Log in here!</h2>
  <% if flash.has?(:message) %>
    <p><em><%= flash[:message] %></em></p>
  <% end %>
  <form action="/login" method="post">
    <p>Username: <input type="text" name="username" placeholder="username"></p>
    <p>Password: <input type="password" name="password" placeholder="password"></p>
    <p><input type="submit" value="Log In"></p>
  </form>
</body>
</html>
