<h1>Welcome to Tea Tracker!</h1>
<h3>Sign up or log in to manage your tea.</h3>
<% if flash.has?(:message) %>
  <p><em><%= flash[:message] %></em></p>
<% end %>
<p><a href="/users/new">Sign Up</a> | <a href="/login">Log In</a></p>
